/* navbar */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background: url(./images/homepage/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #13475c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.logo{
  font-size: 2em;
  color: white;
  user-select: none;
}

.navigation a{
  position: relative;
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a:not(:last-child)::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background: #15F4EE;
  border-radius: 5px;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.3s;
}

.navigation a:hover::after{
  background: #15F4EE;
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup{
  width: 130px;
  height: 50px;
  background: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.3s ease;
}

.navigation .btnLogin-popup:hover{
  background: white;
  color: #15F4EE;
}

header .menu-hamburger{
  display: none;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 35px;
}


.menu-hamburger:hover { /* Pop-out effect on hover */
  transform: scale(1.2); /* Adjust the scale factor for the pop-out effect */
}


.nav-links.mobile-menu ~ .menu-hamburger { /* Animate the hamburger icon when the mobile menu is active */
  transform: scale(1.2); /* Adjust the scale factor for the pop-out effect */
}

/* media queries */
@media screen and (max-width: 900px){
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
  }

  header .logo{
    position: fixed;
    top: 30px;
    left: 30px;
  }
  
  header .menu-hamburger{
    display: block;
    z-index: 110;
    top: 35px;
    padding: 0;
  }

  .nav-links{
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 243, 243, 0.20);
    backdrop-filter: blur(16px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all 0.5s ease;
  }

  
.nav-links.mobile-menu{
  margin-left: 0;
}

  .nav-links .navigation{
    display: flex;
    flex-direction: column; 
    align-items: center;
  }

  header .nav-links .navigation a{
    margin: 25px 0;
    font-size: 1.2em;
  }

  header .nav-links .navigation button{
    margin: 20px 0;
    font-size: 1.2em;
  }   
}

/* loading and disappearing animations */
.hide {
  animation-name: disappearAnimation;
  animation-duration: 450ms;
  animation-fill-mode: forwards;
}

@keyframes disappearAnimation {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0.9;
  }

  20% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.4;
  }

  70% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}


.appear{
  animation-name: loadingAnimation;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
  transition-duration: 0.5s;
}

@keyframes loadingAnimation{
  0%{
    opacity: 0;
  }

  10%{
    opacity: 0.1;
  }

  20%{
    opacity: 0.2;
  }

  30%{
    opacity: 0.3;
  }

  40%{
    opacity: 0.4;
  }

  50%{
    opacity: 0.5;
  }

  60%{
    opacity: 0.6;
  }

  70%{
    opacity: 0.7;
  }

  80%{
    opacity: 0.8;
  }

  90%{
    opacity: 0.9;
  }

  100%{
    opacity: 1;
  }
}


section{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.navigation a:hover, 
.navigation a.active{
  color: #15F4EE;
}

/* hero section */
.hero{
  position: absolute;
  top: 15%;
  left: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 75vh;
}
.hero-para{
  text-align: center;
}

.hero-para, .hero{
  color: #ffffff;
  font-size: 0.95rem;
}

.title{
  margin: 20px;
}

h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 3rem;
}

.btn-outline-light{
  display: inline;
  margin: 5px;
  font-size: 1.5rem;
  padding: 5px 40px;
}

/* login section */
ion-icon {
  color: white;
  display: flex;
  position: absolute;
  z-index: 111;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper{
position: relative;
width: 400px;
height: 500px;
background: transparent;
border: 2px solid rgba(255, 255, 255, 0.5);
border-radius: 20px;
/* border-top-right-radius: 0px; */
backdrop-filter: blur(20px);
box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
transform: scale(0);
transition: transform 0.5s ease, height 0.2s ease;
z-index: 130;
}

.wrapper.active-popup{
transform: scale(1);
}


.wrapper.activ{
height: 650px;
margin-top: 56px;
}

.wrapper .form-box{
width: 100%;
padding: 40px;
}

.wrapper .form-box.login{
transition: transform 0.20s ease;
transform: translateX(0);
}

.wrapper.activ .form-box.login{
transition: none;
transform: translateX(-400px);
}

.wrapper .form-box.register{
position: absolute;
transition: none;
transform: translateX(400px);
}

.wrapper.activ .form-box.register{
transition: transform 0.20s ease;
transform: translateX(0);
}

.wrapper .icon-close{
position: absolute;
top: 0;
right: 0;
width: 45px;
height: 45px;
background: black;
font-size: 2em;
color: white;
display: flex;
justify-content: center;
align-items: center;
border-bottom-left-radius: 20px;
cursor: pointer;
z-index: 1;
}

.form-box h2{
font-size: 2em;
color: white;
text-align: center;
}

.input-box{
position: relative;
width: 100%;
height: 50px;
border-bottom: 2px solid white;
margin: 30px 0;
}

.input-box label{
position: absolute;
top: 50%;
left: 5px;
transform: translateY(-50%);
font-size: 1em;
color: white;
font-weight: 500;
pointer-events: none;
transition: 0.3s;
}

.input-box input:focus~label,
.input-box input:valid~label{
top: -5px;
}

.input-box input{
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
font-size: 1em;
color: white;
font-weight: 600;
padding: 0 40px 0 5px;
}

.input-box .icon{
position: absolute;
right: 8px;
font-size: 1.2em;
color: white;
line-height: 57px;
}

.remember-forgot{
font-size: 0.9em;
color: white;
font-weight: 500;
margin: -15px 0 15px;
display: flex;
justify-content: space-between;
}

.remember-forgot label input{
accent-color: black;
margin-right: 3px;
}

.remember-forgot a{
color: white;
text-decoration: none;
}

.remember-forgot a:hover{
text-decoration: underline;
}

.btn{
width: 100%;
height: 45px;
background: white;
border: none;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1em;
color: #15F4EE;
font-weight: 500;
transition: background 0.3s, color 0.3s;
}

.btn:hover {
  background: transparent;
  color: white;
}

.login-register{
font-size: 0.9em;
color: white;
text-align: center;
font-weight: 500;
margin: 25px 0 10px;
}

.login-register p a{
color: white;
text-decoration: none;
font-weight: 600;
}

.login-register p a:hover{
text-decoration: underline;
}

.login-appear{
  display: none;
}

.login-show{
  display: flex;
  position: absolute;
  z-index: 111;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: loadingAnimation;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
}

.login-hide {
  animation-name: disappearAnimation;
  animation-duration: 450ms; /* You can adjust the duration as needed */
  animation-fill-mode: forwards;
}

.max-vh {
  overflow: hidden !important;
}

.login-pressed{
  background: white !important;
  color: #15F4EE !important;
}

.navbar-click{
  animation-name: disappearAnimation;
  animation-duration: 900ms; /* You can adjust the duration as needed */
  animation-fill-mode: forwards;
}
